<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head">
    <title></title>
</head>
<body>
<nav th:replace="fragments/nav"/>
<div class="container" id="main-container">
    <h2 th:text="#{log.title}"></h2>
    <a th:href="@{/log/deleteAll}" class="btn btn-danger" th:text="#{log.del}"></a>
    <div class="table-responsive" id="tableLogs">
        <a th:href="@{/log/filter(filter='PET')}" class="btn btn-light">PET</a>
        <a th:href="@{/log/filter(filter='ALTA')}" class="btn btn-light">ALTA</a>
        <a th:href="@{/log/filter(filter='LOGIN-EX')}" class="btn btn-light">LOGIN-EX</a>
        <a th:href="@{/log/filter(filter='LOGIN-ERR')}" class="btn btn-light">LOGIN-ERR</a>
        <a th:href="@{/log/filter(filter='LOGOUT')}" class="btn btn-light">LOGOUT</a>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col" th:text="#{log.date}"> </th>
                <th scope="col" th:text="#{log.type}"> </th>
                <th scope="col" th:text="#{log.text}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="log : ${listLogs}">
                <td th:text="${log.getDate()}"> </td>
                <td th:text="${log.getLogType()}"> </td>
                <td th:text="${log.getText()}"> </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>